In [153]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [147]:
#importing the data set
data = pd.read_csv('test.csv', encoding='ISO-8859-1')
data

,Name,Year,Duration,Genre,Rating,Votes,Director,Actor 1,Actor 2,Actor 3
0,,NaN,NaN,Drama,NaN,NaN,J.S. Randhawa,Manmauji,Birbal,Rajendra Bhatia
1,#Gadhvi (He thought he was Gandhi),(2019),109 min,Drama,7.0,8,Gaurav Bakshi,Rasika Dugal,Vivek Ghamande,Arvind Jangid
2,#Homecoming,(2021),90 min,"Drama, Musical",NaN,NaN,Soumyajit Majumdar,Sayani Gupta,Plabita Borthakur,Roy Angana
3,#Yaaram,(2019),110 min,"Comedy, Romance",4.4,35,Ovais Khan,Prateik,Ishita Raj,Siddhant Kapoor
4,...And Once Again,(2010),105 min,Drama,NaN,NaN,Amol Palekar,Rajat Kapoor,Rituparna Sengupta,Antara Mali
...,...,...,...,...,...,...,...,...,...,...
15504,Zulm Ko Jala Doonga,(1988),NaN,Action,4.6,11,Mahendra Shah,Naseeruddin Shah,Sumeet Saigal,Suparna Anand
15505,Zulmi,(1999),129 min,"Action, Drama",4.5,655,Kuku Kohli,Akshay Kumar,Twinkle Khanna,Aruna Irani
15506,Zulmi Raj,(2005),NaN,Action,NaN,NaN,Kiran Thej,Sangeeta Tiwari,NaN,NaN
15507,Zulmi Shikari,(1988),NaN,Action,NaN,NaN,NaN,NaN,NaN,NaN
15508,Zulm-O-Sitam,(1998),130 min,"Action, Drama",6.2,20,K.C. Bokadia,Dharmendra,Jaya Prada,Arjun Sarja

In [123]:
data.describe()

            Rating
count  7919.000000
mean      5.841621
std       1.381777
min       1.100000
25%       4.900000
50%       6.000000
75%       6.800000
max      10.000000

In [124]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15509 entries, 0 to 15508
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      15509 non-null  object
 1   Year      14981 non-null  object
 2   Duration  7240 non-null   object
 3   Genre     13632 non-null  object
 4   Rating    7919 non-null   float64
 5   Votes     7920 non-null   object
 6   Director  14984 non-null  object
 7   Actor 1   13892 non-null  object
 8   Actor 2   13125 non-null  object
 9   Actor 3   12365 non-null  object
dtypes: float64(1), object(9)
memory usage: 1.2+ MB

In [125]:
#checking all Null data
columns_to_check = ['Name', 'Year', 'Duration', 'Genre', 'Rating', 'Votes', 'Director', 'Actor 1', 'Actor 2', 'Actor 3']
for column in columns_to_check:
    missing_count = data[column].isna().sum()
    print(f'{column}: {missing_count}')

Name: 0
Year: 528
Duration: 8269
Genre: 1877
Rating: 7590
Votes: 7589
Director: 525
Actor 1: 1617
Actor 2: 2384
Actor 3: 3144

In [126]:
#we only need genre,directors and actors so dropping all other unnessary data
data.drop(['Name', 'Year','Duration','Votes'], axis=1, inplace=True)
data

,Genre,Rating,Director,Actor 1,Actor 2,Actor 3
0,Drama,NaN,J.S. Randhawa,Manmauji,Birbal,Rajendra Bhatia
1,Drama,7.0,Gaurav Bakshi,Rasika Dugal,Vivek Ghamande,Arvind Jangid
2,"Drama, Musical",NaN,Soumyajit Majumdar,Sayani Gupta,Plabita Borthakur,Roy Angana
3,"Comedy, Romance",4.4,Ovais Khan,Prateik,Ishita Raj,Siddhant Kapoor
4,Drama,NaN,Amol Palekar,Rajat Kapoor,Rituparna Sengupta,Antara Mali
...,...,...,...,...,...,...
15504,Action,4.6,Mahendra Shah,Naseeruddin Shah,Sumeet Saigal,Suparna Anand
15505,"Action, Drama",4.5,Kuku Kohli,Akshay Kumar,Twinkle Khanna,Aruna Irani
15506,Action,NaN,Kiran Thej,Sangeeta Tiwari,NaN,NaN
15507,Action,NaN,NaN,NaN,NaN,NaN
15508,"Action, Drama",6.2,K.C. Bokadia,Dharmendra,Jaya Prada,Arjun Sarja

In [127]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15509 entries, 0 to 15508
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Genre     13632 non-null  object
 1   Rating    7919 non-null   float64
 2   Director  14984 non-null  object
 3   Actor 1   13892 non-null  object
 4   Actor 2   13125 non-null  object
 5   Actor 3   12365 non-null  object
dtypes: float64(1), object(5)
memory usage: 727.1+ KB

In [128]:
#to check for number of null values in the required columns
columns_to_check = ['Genre','Director', 'Actor 1', 'Actor 2', 'Actor 3','Rating']

for column in columns_to_check:
    missing_count = data[column].isna().sum()
    print(f'{column}: {missing_count}')

data.shape

Genre: 1877
Director: 525
Actor 1: 1617
Actor 2: 2384
Actor 3: 3144
Rating: 7590

(15509, 6)

In [129]:
#cleaning the null values by droping them
data=data.dropna()
columns_to_check = ['Genre','Director', 'Actor 1', 'Actor 2', 'Actor 3','Rating']
for column in columns_to_check:
    missing_count = data[column].isna().sum()
    print(f'{column}: {missing_count}')

Genre: 0
Director: 0
Actor 1: 0
Actor 2: 0
Actor 3: 0
Rating: 0

In [135]:
columns_to_check = [ 'Genre', 'Rating', 'Director', 'Actor 1', 'Actor 2', 'Actor 3']
for column in columns_to_check:
    data[column]=data[column].astype('category')
    
data['Genre_new']=data['Genre'].cat.codes
data['Director_new']=data['Director'].cat.codes
data['Actor1_new']=data['Actor 1'].cat.codes
data['Actor2_new']=data['Actor 2'].cat.codes
data['Actor3_new']=data['Actor 3'].cat.codes

enc =OneHotEncoder()

enc_data = pd.DataFrame(enc.fit_transform(data[['Genre_new', 'Director_new','Director_new','Actor1_new','Actor2_new','Actor3_new']]).toarray())
newdf=data.join(enc_data)
print(newdf)

C:\Users\DELL\AppData\Local\Temp\ipykernel_5672\3650928571.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column]=data[column].astype('category')
C:\Users\DELL\AppData\Local\Temp\ipykernel_5672\3650928571.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Genre_new']=data['Genre'].cat.codes
C:\Users\DELL\AppData\Local\Temp\ipykernel_5672\3650928571.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Director_new']=data['Director'].cat.codes
C:\Users\DELL\AppData\Local\Temp\ipykernel_5672\3650928571.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Actor1_new']=data['Actor 1'].cat.codes
C:\Users\DELL\AppData\Local\Temp\ipykernel_5672\3650928571.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Actor2_new']=data['Actor 2'].cat.codes
C:\Users\DELL\AppData\Local\Temp\ipykernel_5672\3650928571.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Actor3_new']=data['Actor 3'].cat.codes

                           Genre Rating           Director           Actor 1  \
1                          Drama    7.0      Gaurav Bakshi      Rasika Dugal
3                Comedy, Romance    4.4         Ovais Khan           Prateik
5         Comedy, Drama, Musical    4.7       Rahul Rawail        Bobby Deol
6            Drama, Romance, War    7.4     Shoojit Sircar   Jimmy Sheirgill
8      Horror, Mystery, Thriller    5.6      Allyson Patel         Yash Dave
...                          ...    ...                ...               ...
15501       Action, Crime, Drama    5.3  Bharat Rangachary        Dharmendra
15503       Action, Crime, Drama    5.8    S.P. Muthuraman       Chiranjeevi
15504                     Action    4.6      Mahendra Shah  Naseeruddin Shah
15505              Action, Drama    4.5         Kuku Kohli      Akshay Kumar
15508              Action, Drama    6.2       K.C. Bokadia        Dharmendra

                      Actor 2          Actor 3  Genre_new  Director_new  \
1              Vivek Ghamande    Arvind Jangid        252           755
3                  Ishita Raj  Siddhant Kapoor        205          1637
5      Aishwarya Rai Bachchan    Shammi Kapoor        175          1881
6              Minissha Lamba   Yashpal Sharma        315          2486
8              Muntazir Ahmad     Kiran Bhatia        351           161
...                       ...              ...        ...           ...
15501     Moushumi Chatterjee          Govinda         28           467
15503              Jayamalini      Rajinikanth         28          2197
15504           Sumeet Saigal    Suparna Anand          0          1333
15505          Twinkle Khanna      Aruna Irani         38          1256
15508              Jaya Prada      Arjun Sarja         38          1095

       Actor1_new  Actor2_new  ...  14547  14548  14549  14550  14551  14552  \
1            1686        2725  ...    0.0    0.0    0.0    0.0    0.0    0.0
3            1500         865  ...    0.0    0.0    0.0    0.0    0.0    0.0
5             481          84  ...    0.0    0.0    0.0    0.0    0.0    0.0
6             878        1346  ...    0.0    0.0    0.0    0.0    0.0    0.0
8            2385        1416  ...    0.0    0.0    0.0    0.0    0.0    0.0
...           ...         ...  ...    ...    ...    ...    ...    ...    ...
15501         599        1392  ...    NaN    NaN    NaN    NaN    NaN    NaN
15503         522         910  ...    NaN    NaN    NaN    NaN    NaN    NaN
15504        1325        2456  ...    NaN    NaN    NaN    NaN    NaN    NaN
15505         137        2588  ...    NaN    NaN    NaN    NaN    NaN    NaN
15508         599         908  ...    NaN    NaN    NaN    NaN    NaN    NaN

       14553  14554  14555  14556
1        0.0    0.0    0.0    0.0
3        0.0    0.0    0.0    0.0
5        0.0    0.0    0.0    0.0
6        0.0    0.0    0.0    0.0
8        0.0    0.0    0.0    0.0
...      ...    ...    ...    ...
15501    NaN    NaN    NaN    NaN
15503    NaN    NaN    NaN    NaN
15504    NaN    NaN    NaN    NaN
15505    NaN    NaN    NaN    NaN
15508    NaN    NaN    NaN    NaN

[7558 rows x 14568 columns]

In [136]:
data

,Genre,Rating,Director,Actor 1,Actor 2,Actor 3,Genre_new,Director_new,Actor1_new,Actor2_new,Actor3_new
1,Drama,7.0,Gaurav Bakshi,Rasika Dugal,Vivek Ghamande,Arvind Jangid,252,755,1686,2725,373
3,"Comedy, Romance",4.4,Ovais Khan,Prateik,Ishita Raj,Siddhant Kapoor,205,1637,1500,865,2543
5,"Comedy, Drama, Musical",4.7,Rahul Rawail,Bobby Deol,Aishwarya Rai Bachchan,Shammi Kapoor,175,1881,481,84,2422
6,"Drama, Romance, War",7.4,Shoojit Sircar,Jimmy Sheirgill,Minissha Lamba,Yashpal Sharma,315,2486,878,1346,2996
8,"Horror, Mystery, Thriller",5.6,Allyson Patel,Yash Dave,Muntazir Ahmad,Kiran Bhatia,351,161,2385,1416,1189
...,...,...,...,...,...,...,...,...,...,...,...
15501,"Action, Crime, Drama",5.3,Bharat Rangachary,Dharmendra,Moushumi Chatterjee,Govinda,28,467,599,1392,857
15503,"Action, Crime, Drama",5.8,S.P. Muthuraman,Chiranjeevi,Jayamalini,Rajinikanth,28,2197,522,910,1991
15504,Action,4.6,Mahendra Shah,Naseeruddin Shah,Sumeet Saigal,Suparna Anand,0,1333,1325,2456,2696
15505,"Action, Drama",4.5,Kuku Kohli,Akshay Kumar,Twinkle Khanna,Aruna Irani,38,1256,137,2588,367
15508,"Action, Drama",6.2,K.C. Bokadia,Dharmendra,Jaya Prada,Arjun Sarja,38,1095,599,908,351

In [141]:
# Assuming 'Rating' is your target variable
features=['Genre_new','Director_new','Actor1_new','Actor2_new','Actor3_new']
X = newdf[features]
y = newdf['Rating']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize and train a model (using Linear Regression as an example)
model = LinearRegression()
model.fit(X_train, y_train)

# Make predictions on the testing set
predictions = model.predict(X_test)

# Evaluate the model
mse = mean_squared_error(y_test, predictions)
print("Mean Squared Error:", mse)

print(model.score(X_test, y_test))

Mean Squared Error: 1.8411821046939918
0.006290505818596137